@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Debnath's Project </s></></h1>
    <p>To Learn more about <a href="https://bcrec.ac.in/">BCREC</a> Please click here.</p>
</div>